[buildout]
parts = zope2 test
develop = .

# XXX needed until zope2 is fully eggified (there is no egg for OFS)
[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.1/Zope-2.11.1-final.tgz

[test]
recipe = zc.recipe.testrunner
eggs = five.localsitemanager
extra-paths = parts/zope2/lib/python